/* ===== Header ===== */
.nav-menu {
  @include flexCenter();

  @media screen and (max-width: 767px) 
  {
    @include flexCenter();
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media screen and (min-width: $desktop) 
  {
// margin: 0px 2px 0px 215px;

  }

  }
  
  .header-nav {
    width: 100%;
    border-bottom: 1px solid #ececec;

@media screen and (max-width: 767px) {
    // display: flex;
    // justify-content: center;
    // align-items:flex-start;
  }



    @media screen and (min-width: $desktop)
    {
    @include flexCenter();
    }
  }
  
  .nav-list {
@media screen and (max-width: 767px)
 {
  margin-bottom: 306px;
}


@media screen and (min-width: $tab)
 {
  @include flexCenter();
  text-align: center;
  margin-left: 51px;
  margin-right: 96px;
  margin-bottom: 0px; 
}

@media screen and (min-width: $desktop)
 {
  @include flexCenter();
  margin-left: 93px;
  margin-right: 315px;
}
     
  }


  .nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--brand-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    position: relative;
    @extend %nodecor;
    @extend %transition;

@media screen and (max-width: 767px)
{
  font-family: 'Roboto';
    font-size: 40px;
    padding: 0;
}

    &:hover,
    &:focus {
      color: var(--brand-blue);
    }
  }



  .nav-list__link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--brand-blue);
    position: absolute;
    bottom: 0;
    border-radius: 2px;
    opacity: 0;
        @media screen and (max-width: 1199px) {
            bottom: -6px;
          }
  }
  
  .nav-list__link.current::after {

    @media screen and (min-width: $tab)
{
  opacity: 1;
}
   
  }
    
  .nav-list__item:not(:last-child) {
    @media screen and (max-width: 767px)
    {
      margin-bottom: 32px;
    }

    @media screen and (min-width: $tab)
    {
      margin-right: 50px;
    }
  }
