
/* Logo */
.logo {
    font-family: raleway;
    color: var(--brand-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    @extend %nodecor;
  }
  /* Two Color Logo */
  .logo-color {
    color: var(--brand-blue);
  }
  .logo-color2 {
    color: var(--brand-white);
    margin-bottom: 10px;
  }
  