/*======= Modal window =======*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--timing-function);
    opacity: 1;
    z-index: 3;
    overflow-y: scroll;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -70%) scale(1.1);
  }
  

// .js-speaker-form {
//   width: 100%;
//   padding:40px;
// }

  .modal {
    position: absolute;
    padding: 40px;
    left: 50%;
    top: 50%;
    width: 95%;
    height: 95%;
    max-height: 609px;
    background: var(--brand-white);
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms var(--timing-function);
opacity: 1;
    
    @media screen and (max-width: 1199px)
     {
          max-width: 450px;
          height: 609px;
          overflow: scroll;
        
      }

    @media  screen and (min-width: $desktop) 
    {
      top: 35%;
        width: 528px;
        height: 581px;
    }

  }
  
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    text-align: center;
    color: var(--brand-black);

    @media screen and (max-width: 1199px) 
    {
      margin-bottom: 26px;
    }
  }
  
  .modal-field {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    // @media screen and (max-width: 767px)
    // {
    //   margin-bottom: 10px;
    // }
  }


  .modal-field-coment {
    margin-bottom: 20px;
  }
  
  .modal-field__input {
    // width: 448px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    // transition-property: border;
    // transition-duration: 250ms;
    // transition-timing-function: var(--timing-function);
    @extend %transition;
  }
  
  .modal-field__label {
    display: block;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    font-size: 12px;
  }
  
  .modal-field__icon {
    position: absolute;
    top: 65%;
    left: 14px;
    transform: translateY(-50%);
    transition-property: fill;
    @extend %transition;
  }
  
  .modal-field__input:hover + .modal-field__icon,
  .modal-field:focus-within > .modal-field__icon {
    fill: var(--brand-blue);
  }
  
  .modal-field__input:hover,
  .modal-field__input:focus,
  .comment:hover,
  .comment:focus {
    outline: var(--button-main-color);
    border: 1px solid var(--brand-blue);
    border-color: var(--brand-blue);
    border-radius: 4px;
    cursor: pointer;
  }


  
  .modal-field textarea::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .comment {
    width: 100%;
    min-height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    @extend %transition;
  }
  
  .dogovor {
    margin-left: 2px;
    color: var(--brand-blue);
  }
  
  .modal-checkbox {
    @include flexCenter();
     margin-bottom: 31px;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
    }
  }
  
  .modal-checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .modal-checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--brand-black);
    border-radius: 2px;
    margin-right: 7px;
    // transition: background-color 250ms var(--timing-function);
    @extend %transition;
  }
  
  .modal-checkbox__input:checked + .modal-checkbox__icon {
    border-color: var(--brand-blue);
    background-color: var(--brand-blue);
    background-image: url('../images/check.svg');
    background-size: contain;
    background-origin: border-box;
  }
