.menu-button {
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
    overflow-y: scroll;

    @media screen and (min-width: $tab)  {
        display: none;
     }


}

.button-menu {
    display: none;
}

.menu-button.is-open .button-menu {
    display: block;
    
    }

.menu-button.is-open .button-cross {
    display: none;
}


.menu-container {

  &.is-open {
      display: block;
      transform: translateY(0);
    }

@media screen and (max-width: 767px)
{
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 48px 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

}

@media screen and (min-width: $tab) 
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
}


.button-icon-mob {
  @extend %transition;
  cursor: pointer;
}
.button-icon-mob:hover {
fill: var(--brand-blue);
}