ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Reset margin */
a,
h1,
h2,
h3,
p {
  margin: 0;
}

.studio.current,
.portfolio.current,
.contacts.current {
  color: var(--brand-blue);
}

img {
  display: block;
  width: 100%;
  height: auto;
}