
/* == Activity == */

.activity {
    padding-bottom: 94px;
  }

  .activity-title {
    color: var(--brand-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }

  .activity-list__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-white);
  }

  .activity-list__element {
    position: relative;
  }

  .activity-list__element p {
    @include flexCenter();
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background: var(--background-position);
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

.activity-list,
.team-list {
  display: flex;
}

.activity-list__item:not(:last-child),
.team-list__item:not(:last-child),
.clients-list .item:not(:last-child) {
  margin-right: 30px;
}
